{{> header}}

<h1>{{title}}</h1>
<ul class="exercise-items-block">
    {{#items}}
        <li class="exercise-item">
            <input type="checkbox" class="exercise-checkbox"/>
            <div class="exercise-item-container">
                <h4 class="title">{{title}} {{muscleGroups}}<br/>{{description}}</h4>
                {{#hasCount}}
                    <div class="exercise-data">Count: {{count}}</div>
                {{/hasCount}}
                {{#hasRepeatCount}}
                    <div class="exercise-data">Repeat count: {{repeatCount}}</div>
                {{/hasRepeatCount}}
                {{#hasDuration}}
                    <div class="exercise-data">Duration: {{duration}}</div>
                {{/hasDuration}}
            </div>
        </li>
    {{/items}}
</ul>

{{> footer}}