body {
  font-size: large;
}

h1,
.exercise-items-block {
  margin: auto;
}

h1 {
  display: ruby-text;
}

.exercise-items-block {
  max-width: 1600px;
  list-style: none;
}

.exercise-item {
  display: inline-flex;
  max-width: 500px;
  width: 29%;
  min-height: 14rem;
  margin-top: 0.5rem;
  color: white;
  background-color: rgb(240, 10, 10);
  border: 0.2rem solid black;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.exercise-item:hover {
  background-color: rgb(255, 0, 0);
}

.exercise-checkbox {
  margin: 2rem;
}

.hidden {
  display: none;
}

.success {
  background-color: rgb(0, 128, 0);
}

.success:hover {
  background-color: rgb(0, 148, 0);
}

.success .exercise-data,
.success .description {
  display: none;
}