.exercise-item {
  display: inline-flex;
  max-width: 500px;
  width: 29%;
  min-height: 14rem;
  margin: 0.5rem;
  color: white;
  background-color: rgb(240, 10, 10);
  border: 0.2rem solid black;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 0, 0);
  }
}

.hidden {
  display: none;
}

.success {
  background-color: rgb(0, 128, 0);
  .exercise-data,
  .description {
    display: none;
  }

  &:hover {
    background-color: rgb(0, 148, 0);
  }
}

.exercise-data {
  font-size: 20px;
  font-weight: bold;
}
